*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: whitesmoke;
}

/* body style */
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
 }
 .container{
    position: relative;
 }
 .clock{
    position: relative;
  
    background-color: rgba(48, 45, 45, 0.94);
    border-radius: 50%;
    width: 30vh;
    height:  30vh;
    border: 2px solid rgb(104, 101, 101);
   
    box-shadow: 0px 0pc 30px rgb(36, 29, 29);
   display: flex;
   align-items: center;
   justify-content: center;

}
 .clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
} 
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;

}
.clock::before{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%; 
    background-color: aliceblue;
}
/* hands design */
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 10px;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}
